body {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 243, 255);
}

.logo {
    width: 100px;
}

.nav-menu>ul {
    display: flex;


}

.nav-menu>ul>li {
    list-style: none;
    padding: 10px;
    margin: 3px;
    font-size: 1.5rem;
}

.res-card {
    width: 300px;
    padding: 1rem;
    outline: none;

}

.res-card:hover {
    cursor: pointer;
    /* border: .3px solid black;
    border-radius: 1rem; */
}

.res-card-img {
    width: 100%;
    border-radius: 1rem;
}

.res-img-card-wrapper {
    border: 1px solid #0000001f;
    border-radius: 1rem;
}

.res-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    height: 3rem;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid black;
}

.search {
    margin: 9px;
}


.shimmer-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: 10px;
}

.shimmerCard {
    width: 300px;
    background-color: #3f3b3b2b;
    height: 400px;
    border-radius: 1rem;
}

.filter {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 2px 3px 6px 3.5rem
}


.errors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
    height: 98vh;
}

.about {
    min-height: 80vh;
}

.resMenuList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    flex-wrap: wrap;
    width: 300px;
    padding: 1rem;
    outline: none;
    border-radius: 1rem;

}

.resMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 9px;
}

.resName {
    text-align: center;
    font-family: sans-serif;
    text-decoration: blink;
    text-decoration: underline;
    color: crimson;
}